html {
	overflow-y: scroll;
}

.spinner {
	margin: 25px 85px;
	position: absolute;
	font-size: 50px !important;
	color: #bbbbbb;
}

.common-border {
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0 2px 18px 0 rgba(18, 52, 77, 0.16),
		0 2px 4px 0 rgba(18, 52, 77, 0.06);
}

.no-orders {
	margin: 25px 85px;
}

.order {
	margin: 8px 4px 8px 4px;
}

.cancelled {
	box-shadow: 2px 2px 6px 0 #d3b1b1, 0 2px 4px 0 #d3b1b1;
}

.order-header {
	display: flex;
	justify-content: space-between;
	line-height: 25px;
}

.arrow:hover {
	cursor: pointer;
}

.expandable-menu {
	display: none;
}

.expandable-menu.open {
	margin: 8px 5px;
	display: block;
}
