html {
	overflow-y: scroll;
}

.spinner {
	margin: 25px 85px;
	position: absolute;
	font-size: 50px !important;
	color: #bbbbbb;
}

.common-border {
	padding: 4px;
	border-radius: 5px;
	box-shadow: 0 2px 18px 0 rgba(18, 52, 77, 0.16),
		0 2px 4px 0 rgba(18, 52, 77, 0.06);
}

/* ORDER */

.order {
	margin: 8px 4px 8px 4px;
}

.cancelled {
	box-shadow: 2px 2px 6px 0 #d3b1b1, 0 2px 4px 0 #d3b1b1;
}

.order-header {
	display: flex;
	justify-content: space-between;
	line-height: 25px;
}

.order-header > a {
	font-size: 14px;
	color: #2c5cc5;
	font-weight: 600;
}

.order-header > span {
	color: #183247;
}

.arrow:hover {
	cursor: pointer;
}

/* MENU */

.expandable-menu {
	display: none;
}

.expandable-menu.open {
	margin-top: 8px;
	display: grid;
	grid-template-columns: 0.7fr 0.3fr;
	align-content: center;
}

.expandable-menu > * {
	margin-top: 3px;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.expandable-menu > span {
	font-size: 12px;
	color: #5d5d5e;
}

.expandable-menu > div {
	font-size: 13px;
	font-weight: 500;
	color: #183247;
}
